body {
  width: 800px;
  margin: auto;
  text-align: center;
  background-color: white;
  background-image: url(https://media-s3-us-east-1.ceros.com/hype-beast/images/2018/07/17/8328aabd61c683129c4e685022e4e9f8/background-02-fade.jpg?imageOpt=1&fit=bounds&width=541);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

header {
  background-color: red;
  height: 100px; /* Or whatever */
  border: 2px solid;
  margin-bottom: 50px;
}

div {
  /* border: 2px solid; */
}

.parent {
  display: flex;
}

.child {
  width: 100px;  /* Or whatever */
  height: 40px; /* Or whatever */
  margin: auto;  /* Magic! */
  padding-top: 10px;
}

/* .answerDiv {
  background-color: rgba(34,139,34,.6) ;
} */

.optionDiv  {
  background-color: lightgreen;
  height: 170px;
  width: 110px;
  margin: 10px 10px;
}

.optionImg {
  width: 100px;
  height: 100px;
}

.targetHeader {
  margin-bottom: 0;
}

#main_Title {
  font-size: 34px;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px yellow;
  width: auto;
}
/*
#targetPokemon {
  background-color: rgba(34,139,34,.6);

} */

#targetPokemon-img {
  width: 300px;
  height: 300px;
}

#container {
  width: 500px;
  height: 540px;
  margin: auto;
  border: 5px solid yellow;
  margin-bottom: 30px;
  background-color: rgba(34,139,34,.6);

}


@media all and (max-width: 800px) {
  header {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}
