body {
  width: 800px;
  margin: auto;
  text-align: center;
  background-color: white;
}

header {
  background-color: red;
  height: 100px; /* Or whatever */
  border: 2px solid;
  margin-bottom: 50px;
}

div {
  /* border: 2px solid; */
}

.parent {
  display: flex;

}

.child {
  width: 100px;  /* Or whatever */
  height: 50px; /* Or whatever */
  margin: auto;  /* Magic! */
}

#main_Title {
  font-size: 34px;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px yellow;
  width: auto;
}

#targetPokemon-img {
  width: 300px;
  height: 300px;
}

#container {
  width: 500px;
  margin: auto;
  border: 5px solid black;
}


@media all and (max-width: 800px) {
  header {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}
